@keyframes fadeInLeft {
  0%    {transform: translateX(-50px);opacity: 0;}
  100%  {transform: translateX(0px);opacity: 1;}
}

@keyframes fadeIn{
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

header {
  position: absolute;
  color: #fff;
  margin: 5%;
  opacity: 0;
  animation: fadeInLeft .2s 1s forwards;
}

aside {
  display: flex;
  align-items: flex-start;
  grid-area: bio;
  background: $darken-primary;
  color: $lighten-primary;
  position: relative;
  
  .bio {
    &__wrap {
      box-sizing: content-box;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 0px;
      padding: 30px $layout-padding;
      justify-content: flex-start;
      height: auto;
    }
    &__nome {
      font-size: 1.3em;
      text-transform: uppercase;
      margin-top: .5em;
    }
    &__descri {
      margin: 2% 0;
    }
    &__list {
      margin: 0;
      padding: 0;
    }
    &__skill {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__lang {
    }
    &__title {
      font-size: 1em;
      margin: 4% 0 2% 0;
      text-transform: uppercase;
    }
  }
}

.grid-wrap {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "main bio""footer bio";
  height: 100vh;
}

.hero {
  &__wrap {
    grid-area: hero;
    height: 100vh;
    position: relative;
    z-index: -1;
  }

  &__callwrap {
    grid-area: hero;
    white-space: nowrap;
    position: fixed;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: -1;
    // text-align: right;
  }

  &__call {
    color: #fff;
    opacity: 0;
    animation: fadeInLeft .5s .5s forwards;
  }

  &__calltext {
    opacity: 0;
    animation: fadeInLeft .5s .6s forwards;
  }
}

.foreground {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(/img/gradient-paralax.png);
  background-size: cover;
  z-index: 0;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   top: 0;
  //   left: 0;
  //   height: 100vh;
  //   width: 100%;
  //   background-color: $primary-color;
  //   mix-blend-mode: multiply;
  //   mask-image: url(/img/gradient-paralax-mask.png);
  //   mask-size: cover;
  //   opacity: 1;
  //   z-index: 1;
  // }
}

.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-image: url(/img/gradient-bg.jpg);
  background-size: cover;
  z-index: -4;

  // &::after {
  //   content: ""; // ::before and ::after both require content
  //   position: absolute;
  //   display: block;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100vh;
  //   background-color: $primary-color;
  //   mix-blend-mode: multiply;
  //   opacity: 1;
  //   z-index: -3;
  // }
}

.main-section {
  grid-area: main;
  padding: $layout-padding * 2;
  padding-right: 0;
  padding-bottom: $layout-padding*.5;
  position: relative;
  background-color: #fff;
  z-index: 1;

  &>p {
    font-size: 1.5em;
    margin-top: 0;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 2em 0px;
    
    .cardlink {
      width: 32%;
      margin: 2% 1%;
      min-width: 200px;
      max-width: 250px;
    
      &:hover {
        transform: scale(1.05);
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
        transition-duration: .2s;
      }
    }
  }

  .spacer {
    height: 100px;
  }
}

.grad {
  &__title {
    margin-top: 2%;
    color: $primary-color;
  }
  &__date {
    color: $lighten-primary;
    font-weight: bold;
    margin-top: -5px;
  }
  &__desc {
    font-size: 1rem;
    margin-top: 1%;
    padding-right: $layout-padding*6;
  }
}

.card {
  @extend %text;
  margin: 0 auto;
  background-color: $primary-color;
  color: #fff;

  &__img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }

  &__textwrap {
    padding: 10px;
  }

  &__title {
    font-weight: bold;
    font-size: 1.1rem;
  }
}

.barra {
  &__item {
    border: 2px solid #fff;
    height: 10px;
    margin: 9.5px;
    border-radius: 5px;
    margin-left: 20px;
    width: 60%;
  }

  &__cor {
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
  }
}

.imgwrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profilepic {
  display: block;
  border-radius: 150px;
}

li {
  @extend %text;

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  img {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-left: 0;

    
  }
  .icon {
    margin-left: 5%;
  }

}

.scrolldown {
  position: absolute;
  bottom: 5%; right: 5%;
  opacity: 0;
  animation: fadeIn 1s 2s forwards;
}

footer {
  grid-area: footer;
  padding: $layout-padding;
  color: $primary-color;
  text-align: right;
  font-size: 10px;
}
