%text {
  font-size: .9rem;
  line-height: 1.7em;
  font-family: $text-font;
}

%titles {
  margin-top: 0;
  text-transform: uppercase;
  font-family: $display-font;
}

h1 {
  @extend %titles;
  font-size: calc(1rem + 5vw);
  color: $primary-color;
  margin-bottom: 0;
}

h2 {
  @extend %titles;
  font-size: calc(1rem + 1vw);
}

h3 {
  display: block;
  margin-top: 2%;
}


p {
  @extend %text;
}

