* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  color: inherit;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0px;
}

p, .card, li {
  font-size: .9rem;
  line-height: 1.7em;
  font-family: "Arial", sans-serif;
}

h1, h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: calc(1rem + 5vw);
  color: #2885d6;
  margin-bottom: 0;
}

h2 {
  font-size: calc(1rem + 1vw);
}

h3 {
  display: block;
  margin-top: 2%;
}

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  position: absolute;
  color: #fff;
  margin: 5%;
  opacity: 0;
  -webkit-animation: fadeInLeft .2s 1s forwards;
          animation: fadeInLeft .2s 1s forwards;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: bio;
  background: #185080;
  color: #a8ceef;
  position: relative;
}

aside .bio__wrap {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 30px 3em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
}

aside .bio__nome {
  font-size: 1.3em;
  text-transform: uppercase;
  margin-top: .5em;
}

aside .bio__descri {
  margin: 2% 0;
}

aside .bio__list {
  margin: 0;
  padding: 0;
}

aside .bio__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside .bio__title {
  font-size: 1em;
  margin: 4% 0 2% 0;
  text-transform: uppercase;
}

.grid-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr;
      grid-template-columns: 5fr 2fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "main bio" "footer bio";
  height: 100vh;
}

.hero__wrap {
  grid-area: hero;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.hero__callwrap {
  grid-area: hero;
  white-space: nowrap;
  position: fixed;
  top: 45vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: -1;
}

.hero__call {
  color: #fff;
  opacity: 0;
  -webkit-animation: fadeInLeft .5s .5s forwards;
          animation: fadeInLeft .5s .5s forwards;
}

.hero__calltext {
  opacity: 0;
  -webkit-animation: fadeInLeft .5s .6s forwards;
          animation: fadeInLeft .5s .6s forwards;
}

.foreground {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(/img/gradient-paralax.png);
  background-size: cover;
  z-index: 0;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(/img/gradient-bg.jpg);
  background-size: cover;
  z-index: -4;
}

.main-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  padding: 6em;
  padding-right: 0;
  padding-bottom: 1.5em;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.main-section > p {
  font-size: 1.5em;
  margin-top: 0;
}

.main-section .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2em 0px;
}

.main-section .card-container .cardlink {
  width: 32%;
  margin: 2% 1%;
  min-width: 200px;
  max-width: 250px;
}

.main-section .card-container .cardlink:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.main-section .spacer {
  height: 100px;
}

.grad__title {
  margin-top: 2%;
  color: #2885d6;
}

.grad__date {
  color: #a8ceef;
  font-weight: bold;
  margin-top: -5px;
}

.grad__desc {
  font-size: 1rem;
  margin-top: 1%;
  padding-right: 18em;
}

.card {
  margin: 0 auto;
  background-color: #2885d6;
  color: #fff;
}

.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
}

.card__textwrap {
  padding: 10px;
}

.card__title {
  font-weight: bold;
  font-size: 1.1rem;
}

.barra__item {
  border: 2px solid #fff;
  height: 10px;
  margin: 9.5px;
  border-radius: 5px;
  margin-left: 20px;
  width: 60%;
}

.barra__cor {
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.imgwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profilepic {
  display: block;
  border-radius: 150px;
}

li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
}

li img {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  margin-left: 0;
}

li .icon {
  margin-left: 5%;
}

.scrolldown {
  position: absolute;
  bottom: 5%;
  right: 5%;
  opacity: 0;
  -webkit-animation: fadeIn 1s 2s forwards;
          animation: fadeIn 1s 2s forwards;
}

footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
  padding: 3em;
  color: #2885d6;
  text-align: left;
  font-size: 10px;
}

@media (max-width: 1200px) {
  .grid-wrap {
    display: block;
  }
  .main-section {
    padding: 2% 5%;
    text-align: center;
    margin: 2% 5%;
  }
  .main-section .card-container {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside {
    padding: 2% 9em;
  }
  aside .bio__wrap {
    padding-left: 0;
  }
  .grad__desc {
    padding: 3%;
    padding-right: 0;
    margin: 0 15%;
  }
  footer {
    background-color: #185080;
    color: #a8ceef;
    font-size: .8rem;
    padding: 2% 9em;
    text-align: left;
  }
}

@media (max-width: 900px) {
  aside {
    padding: 2% 3em;
  }
  footer {
    padding: 2% 3em;
  }
}

@media (max-width: 600px) {
  .grid-wrap {
    display: block;
  }
  .main-section {
    padding: 2% 0;
    text-align: center;
    margin: 2% 5%;
  }
  aside {
    padding: 2% 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside .bio__wrap {
    padding: 3em 0;
  }
  footer {
    padding: 2% 5%;
  }
}

@media screen and (max-width: 400px) {
  .grad__title {
    margin-top: 10%;
  }
  .grad__desc {
    margin: 0 5%;
  }
  footer {
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */