* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

a.cardlink {
  width: 32%;
  margin: 2% 1%;
  min-width: 200px;
  max-width: 250px;
}

a.cardlink:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

aside .bio__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p, .card, aside li, footer p {
  font-size: .9rem;
  line-height: 1.7em;
  font-family: "Arial", sans-serif;
}

h1, h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr;
      grid-template-columns: 5fr 2fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "main bio" "footer bio";
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat';
  overflow-x: hidden;
}

.hero__wrap {
  grid-area: hero;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.hero__callwrap {
  grid-area: hero;
  white-space: nowrap;
  position: fixed;
  top: 45vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: -1;
}

.hero__call {
  color: #fff;
  opacity: 0;
  -webkit-animation: fadeInLeft .5s .5s forwards;
          animation: fadeInLeft .5s .5s forwards;
}

.hero__calltext {
  opacity: 0;
  -webkit-animation: fadeInLeft .5s .6s forwards;
          animation: fadeInLeft .5s .6s forwards;
}

.foreground {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(/img/gradient-paralax.png);
  background-size: cover;
  z-index: 0;
}

.foreground::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #2885d6;
  mix-blend-mode: multiply;
  -webkit-mask-image: url(/img/gradient-paralax-mask.png);
          mask-image: url(/img/gradient-paralax-mask.png);
  -webkit-mask-size: cover;
          mask-size: cover;
  opacity: 1;
  z-index: 1;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(/img/gradient-bg.jpg);
  background-size: cover;
  z-index: -4;
}

.background::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2885d6;
  mix-blend-mode: multiply;
  opacity: 1;
  z-index: -3;
}

section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  padding: 6em;
  padding-right: 0;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

section > p {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card {
  margin: 0 auto;
  -webkit-box-shadow: 6px 10px 22px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 6px 10px 22px 0px rgba(0, 0, 0, 0.15);
  background-color: #2885d6;
  color: #fff;
}

.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
}

.card__textwrap {
  padding: 10px;
}

.card__title {
  font-weight: bold;
  font-size: 1.1rem;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: bio;
  background: #185080;
  color: #a8ceef;
  position: relative;
}

aside .bio__wrap {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 30px 3em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
}

aside .bio__nome {
  font-size: 1.3em;
  text-transform: uppercase;
  margin-top: .5em;
}

aside .bio__descri {
  margin: 2% 0;
}

aside .bio__list {
  margin: 0;
  grid-area: nomes;
  text-align: right;
}

aside .bio__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside .bio__title {
  font-size: 1em;
  margin: 2% 0;
  text-transform: uppercase;
}

aside .barra__item {
  border: 2px solid #fff;
  height: 10px;
  margin: 9.5px;
  border-radius: 5px;
  margin-left: 20px;
  width: 220px;
}

aside .barra__cor {
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
}

aside .imgwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .profilepic {
  display: block;
  border-radius: 150px;
}

aside h3 {
  display: block;
  margin-top: 2%;
}

aside ul {
  list-style-type: none;
  padding: 0;
  margin-left: 5%;
}

aside li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
}

aside li img {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  margin-left: 0;
}

aside li img .email {
  width: 16px;
  height: 16px;
}

footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
  padding: 3em;
}

h1 {
  font-size: calc(1rem + 5vw);
  color: #2885d6;
  margin-bottom: 0;
}

h2 {
  font-size: calc(1rem + 1vw);
}

@media screen and (max-width: 1200px) {
  .container {
    display: block;
  }
  .spacer {
    grid-area: spacer;
    background-color: #185080;
  }
  aside {
    padding: 2% 9em;
  }
  aside .bio__wrap {
    padding-left: 2%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
  }
  section {
    padding: 0;
    text-align: center;
    margin: 2% 5%;
  }
  .card-container {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside {
    padding: 2% 3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside .bio__wrap {
    padding: 3em 0;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */